<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><link rel="icon" type="image/png" sizes="32x32" href="../src/Images/icon.png">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <div class="flex flex-col justify-center font-[sans-serif] sm:h-screen p-4">
        <div class="max-w-md w-full mx-auto border border-gray-300 rounded-2xl p-8">
          <div class="text-center mb-12">
          </div>
          <form>
            <div class="space-y-6">
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Email Id</label>
                <input onchange="setobject(this)" name="email" type="text" class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500" placeholder="Enter email" />
              </div>
              <div>
                <label class="text-gray-800 text-sm mb-2 block">Password</label>
                <input onchange="setobject(this)" name="password" type="password" class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500" placeholder="Enter password" />
              </div>

            </div>
  
            <div class="!mt-8">
              <button onclick="submitForm(event)" type="button" class="cursor-pointer w-full py-3 px-4 text-sm tracking-wider font-semibold rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
                Login
              </button>
            </div>
            <p class="text-gray-800 text-sm mt-6 text-center">Don't have an account? <a href="/user/register" class="text-blue-600 font-semibold hover:underline ml-1">Signup here</a></p>
          </form>
        </div>
      </div>
      <script src="/src/js/loader/loader.js"></script>
      <script src="/src/js/toastify/toast.js"></script>
      <script src="/src/js/auth/login.js"></script> 
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    </body>

</html>